<!DOCTYPE html>
<html lang="he">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>עזרה</title>
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }
    .container {
        width: 80%;
        margin: 20px auto;
        text-align: center;
    }
    p {
        font-size: 18px;
        line-height: 1.6;
        margin-bottom: 10px; /* Added margin for separation */
    }
    .thank-you {
        margin-top: 50px;
        font-size: 24px;
        font-weight: bold;
        text-align: center; /* Center align the thank you message */
    }
</style>
</head>
<body>

<!-- Include toolbar -->
{% include 'toolbar.html' %}

<div class="container">
    <p>אנא שלחו מייל ל־ <br>
    </p><a href="mailto:1TJobsCrew@gmail.com">1TJobsCrew@gmail.com</a>
    <p>לפי הפורמט הבא:<br>
    <strong>שימוש במייל שאיתו נרשמתם לאתר שלנו</strong><br>
    <strong>ציון הבעיה באופן ברור ומעמיק</strong><br>
    <strong>שמירה על שפה נאותה</strong></p>
</div>

<div class="thank-you">
     ! תודה רבה על השיתוף
</div>

</body>
</html>
