<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rate the Site</title>
    <!-- Include jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Styles for star icons -->
    <style>
        .star {
            cursor: pointer;
            font-size: 30px;
        }
        .selected {
            color: gold;
        }
    </style>
</head>
<body>
    {% extends 'toolbar.html' %}
    <!-- End of navigation bar -->
    {% block content %}
    <div id="ratingContainer">
        <h1>Rate the Site</h1>
        <div>
            <p>Your Rating:</p>
            <span class="star" data-value="1">&#9733;</span>
            <span class="star" data-value="2">&#9733;</span>
            <span class="star" data-value="3">&#9733;</span>
            <span class="star" data-value="4">&#9733;</span>
            <span class="star" data-value="5">&#9733;</span>
        </div>
        <button id="submitRating" class="submit_rating">Submit Rating</button>
        <input type="hidden" id="ratingValue" name="ratingValue"> <!-- Hidden input field to store the rating value -->
        <p id="averageRating">Average Rating: {{ avg }}</p>
        <p id="ratingMessage" style="display: none;"></p>
    </div>

    <script>
        $(document).ready(function() {
            // Get the user's rating from the backend
            var userRating = {{ rating }};

            // If the user has a rating, select the corresponding star button
            if (userRating) {
                $('.star[data-value="' + userRating + '"]').addClass('selected').prevAll('.star').addClass('selected');
                $('#ratingValue').val(userRating);
            }

            $('.star').click(function() {
                // Remove selected class from all stars
                $('.star').removeClass('selected');
                // Add selected class to clicked star and previous stars
                $(this).addClass('selected').prevAll('.star').addClass('selected');
                // Set the value of the selected star in a hidden input field
                $('#ratingValue').val($(this).data('value'));

                // Print the selected star's value to the console
                console.log('Selected star value:', $(this).data('value'));
            });

            $('#submitRating').click(function() {
                // Redirect to the submit URL with the rating value
                window.location.href = `/submit_rating/${$('#ratingValue').val()}/`;
            });
        });
    </script>
    {% endblock %}
</body>
</html>
